body {
    background: #f2f4f6;
}
.logo {
    background-color:#fff;
}

/* 放大镜部分 */
.one {
    width: 458px;
    height: 458px;
    border: 1px solid red;
    position: relative;
}

.one span {
    width: 175px;
    height: 175px;
    position: absolute;
    border: 1px solid #AFAFAF;
    top: 0;
    left: 0;
    display: none;
    
}

.one:hover span {
    display: block;
    /* background-image: url(../images/big.jpg); */
    background: transparent;
    
}

.wai {
    float: left;
    position: relative;
    height: 584px;
    background: white;
}

.two {
    padding: 30px 0 0 50px;
}
.two p{
    line-height: 12px;
    margin: 10px 0px;
}
.two .icon-shoucang{
    cursor: pointer;
}
.two .icon-shoucang:hover{
    color: red;
    
}
.wai .two img {
    border: 1px solid #ccc;
}

.two .active {
    border: 1px solid red;
}

.wai .two img:hover {
    border: 1px solid red;

}

.the {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 480px;
    top: 0;
    float: left;
    overflow: hidden;
    border: 1px solid #969696;
    display: none;

}

.the img {
    position: absolute;
    display: block;
}

/* 三级导航 */
#main {
    background: #f2f4f6;

}

.main1 {
    height: 584px;
    margin-bottom: 50px;
}

.confent {
    width: 1080px;
    margin: auto;
    background: #ffffff;
}

.head {
    font-size: 12px;
    line-height: 61px;
}

.icon-arrow-right {
    color: #999999;
}

.head a {
    color: #999999;
}

.main-r-h {
    background: white;
    margin-left: 20px;
    width: 596px;
    height: 580px;
    border: 2px solid #eeeeee;
}

.main-p {
    margin: 10px 10px;
}

h2 .fl {
    color: red;

}

.r-h {
    line-height: 28px;
}

.r-h p {
    float: left;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
}

.main-r-h:after,
.r-h:after,
.main-p:after,
.price-b:after {
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
    content: "";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.price-b {
    padding: 10px 10px;
    width: 580px;
    height: 60px;
    background: #fe4a7a;
}

.price-b-t {
    font-size: 50px;
    margin: 0px 60px 0px 0px;
}
.wrap-head .icon-beike,.wrap-head .icon-64,.wrap-head .icon-huangguan{
   color: #ff5482;
}

.price-bq {
    margin-top: 32px;
    line-height: 20px;
    font-size: 25px;
}

.price-b span {
    color: white;
}

.price-b p {
    line-height: 60px;
    padding: 5px;
    color: white;
}

.price-b-s {
    line-height: 20px;
    margin: 5px 15px 0px 0px;
    text-decoration: line-through;
}

.price-b .zk {
    border-left: 1px dotted white;
    border-right: 1px dotted white;
    line-height: 50px;
    padding: 0px 25px;
}

.price-b .price-b-js {
    line-height: 50px;
    padding: 0px 25px;
}

.fan {
    background: #ff8135;
}

.main-r-h .price-xinxi {
    width: 596px;

}

.price-xinxi-z {
    width: 596px;
    font-size: 16px;
    background: white;
}

.price-xinxi-z li {
    line-height: 24px;
    margin-left: 100px;
    margin-top: 20px;

}

.price-xinxi-z img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.price-xinxi-img:hover {
    border: 2px solid red;
    padding: 2px;
    
}
.price-xinxi-img{
    margin-right: 10px;
}

price-xinxi-z .hui p {
    color: #999999;
}

.price-xinxi-red {
    background: red;
    width: 175px;
    height: 60px;
    border-radius: 7px;
    margin-left: 128px;
    line-height: 30px;
    font-size: 20px;
}

.price-xinxi-red span,
.price-xinxi-red p {
    color: white;
}

.price-xinxi-red2 {
    border: 1px solid red;
    width: 175px;
    height: 60px;
    border-radius: 7px;
    margin-left: 10px;
    line-height: 60px;
    font-size: 26px;
    color: red;
}

.icon-ico {
    color: red;
    font-size: 20px;
}

.icon-tubiaozhizuo- {
    font-size: 12px;
    color: #AFAFAF;
}

.price-xinxi-div {
    text-align: center;
    margin-top: 20px;
    height: 60px;
}

.time {
    margin-top: 10px;
    width: 596px;
    line-height: 118px;
    text-align: center;
    border-top: 1px dotted #AFAFAF;
    font-size: 20px;
}



/* <!-- 商品详细信息 --> */
#wrap {
    width: 1080px;
    margin: auto;
    position: relative;
}

.wrap-z {
    width: 870px;
    /* height: 12159px; */
    background: white;
}

.wrap-y {
    width: 188px;
    background: white;
    position: absolute;
    top: 1px;
    right: 0px;
}

.wrap-head li {
    border: 1px solid #eeeeee;
    line-height: 44px;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    color: #777;

}
/* 导航条固定 */
#mainMenuBar {
	width:100%;
	background-color:white;
	z-index:100;
}
#mainMenuBar ul {
	position:relative;
}
#mainMenuBar li {
	display:inline-block;
	
	font-family:"proxima-nova";
	
}
.wrap-head .active{
    border: 1px solid red;
}
.stick {
	position:fixed;
	top:0;
}
.wrap-head {
    height: 66px;
    background: white;
}
/* .wrap-head .wrap-spxq{
    border: 1px solid #ec0a0a;
} */

.props li {
    line-height: 26px;
    float: left;
    overflow: hidden;
    width: 368px;
    height: 26px;
    margin-top: -1px;
    margin-left: -1px;
    list-style: none;
    color: #999;
    border: 1px solid #eee;
    background: #fafafa;
    text-indent: 10px;
}

.conft {
    padding: 50px;
}

.conft h3,
.conft2 h3 {
    margin: 30px -20px;
    padding: 0 0 0 10px;
    border-left: 3px solid #e41f54;
}

.conft ul::after,
wrap-head::after,
wrap::after {
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
    content: "";
}

.conft2 {
    padding: 0px 50px;
}

.mjkb {
    background: #f2f4f6;
    font-size: 16px;
    line-height: 48px;
    clear: both;
    height: 48px;
    padding-top: 30px;
    margin: 50px 0 0 !important;
    padding-left: 0 !important;
    color: #ff5482;
    border: none !important;
    margin-left: -50px;
}

.wrap-x .icon-64 {
    color: #ff5482;
}

.wrap-x-h .icon-xinshoutuijianicon {
    color: #ff5482;

}
.wrap-x-h-myd{
    border:1px solid #888;
}
.wrap-x-h .rate-score {
    font-size: 14px;
    position: relative;
    float: left;
    overflow: hidden;
    width: 80px;
    height: 82px;
    margin: 13px 0 0 43px;
    padding-right: 43px;
    padding-bottom: 13px;
    text-align: center;
    color: #757575;
    border-right: 1px solid #eee;
}

.rate-score p {
    font-size: 30px;
    font-weight: 700;
    color: #f47;
}

.x1 {
    font-size: 40px;
    margin-left: -15px;
    letter-spacing: -20px;
}

.x2,
.x3,
.x4,
.x5 {
    font-size: 40px;
    margin-left: 3px;
    letter-spacing: -20px;
}

.myd {
    width: 588px;
    padding: 40px 10px 40px 53px;
    position: relative;

}

.myd li {
    width: 84px;
    height: 16px;
    background: plum;
}

.myd p {
    text-align: center;
}

.myd .li1 {
    background: #ffe4eb;
}

.myd .li2 {
    background: #ffceda;
}

.myd .li3 {
    background: #ffb6c9;
}

.myd .li4 {
    background: #ff98b3;
}

.myd .li5 {
    background: #fc7498;
}

.pf {
    width: 30px;
    height: 30px;
    background: red;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 10px;
    left: 457px;
}

.rate-tag-box>.rate-tag-label {

    display: inline;
    color: red;
    margin: 10px 14px 3px 6px;
}

.rate-tag-box {
    clear: both;
    overflow: hidden;
    margin: 0 43px;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

.rate-tag-list span {
    float: left;
    margin-left: 10px;
    border: 1px solid red;
    padding: 2px;
    text-align: center;

}

.comments-filter {
    height: 25px;
    border-bottom: 1px solid #eaeaea;
    background-color: #f6f6f6;
}

.comment-items .comments-filter label {
    margin-left: 18px;
}

.box {
    width: 840px;
}

.box-box {
    width: 840px;
    font-size: 12px;
    margin: 25px 10px 0 10px;
    padding: 0 10px 60px 10px;
    border-bottom: 1px solid #f4f4f4;
}

.box1 {
    width: 300px;
}

.box2 p {
    width: 140px;
    margin-left: 50px;
    color: #999;
}

.box1 p {
    margin-bottom: 20px;
    margin-top: 4px;
    color: #b7b7b7;
}

.box3 .icon-xinshoutuijianicon {
    font-size: 30px;
    letter-spacing: -20px;
}

.clear {
    clear: both;
    /* height: 0px;
  overflow: hidden;
  visibility: hidden;
  display: block;
  content: ''; */
}

.pagination-img img {
    width: 45px;
    height: 45px;
}

#containet {
    display: inline-block;
    /* border: 1px solid #ed0181; */
    /* padding:19px; */
    /* margin: auto; */
}

#pageMain li {
    list-style: none;

}

#pageBox {
    padding: 10px 0 0 0;
}

#pageBox span {
    display: inline-block;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #AFAFAF;
}

#pageNav {
    display: inline-block;
}

#pageNav a {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #3a87ad;
    text-decoration: none;
}

#pageNav a.active,
#pageNav a:hover {
    background: #ff5482;
    color: #EFEFEF;
}

#prev:hover {
    cursor: pointer;
    background: #ff5482;
}

#next:hover {
    cursor: pointer;
    background: #ff5482;
}

#prev,
#next {
    border-radius: 50%;
}

/* 商品咨询 */
.detail-info {
    font-size: 14px;
    position: relative;
    *z-index: 1;
    width: 870px;
    margin-left: -50px;
    
}

.item-consult {
    font-size: 14px;
    font-family: '微软雅黑';
}

.detail-info h3 {
    margin: 30px 55px;
    padding: 0 0 0 10px;
    border-left: 3px solid #e41f54;
}

.consult-box {
    padding-bottom: 30px;
    letter-spacing: .5px;
}

.box-shadow {
    /* box-shadow: 0 1px 2px #D1D1D1; */
}

.white-bg {
    background: #fefefe;
    margin-bottom: 10px;
    overflow: hidden;
}

.pure-u-1 {
    display: block;
    
}
.pre-u-1 img{
  border: 1px solid transparent;
}

.consult-header {
    height: 24px;
    margin: 40px 33px 0 33px;
    color: #2E2E2E;
    font-weight: 700;
    *zoom: 1;
}

.consult-answer {
    position: relative;
    margin: 8px 35px 0 35px;
    color: #7B7B7B;
    *zoom: 1;
}

.consult-question {
    position: relative;
    margin: 16px 35px 0 35px;
    color: #2E2E2E;
    font-weight: 700;
    *zoom: 1;
}

.consult-concat {
    padding: 6px;
    margin-left: 15px;
    border-radius: 3px;
    background-color: #fff2f5;
    font-weight: 400;
    border: 1px solid #ffccd9;
    color: #FF7DA1;
    *zoom: 1;
}

.detail-info h3 {
    font-size: 16px;
    line-height: 48px;
    clear: both;
    height: 48px;
    margin: 30px 0 0 !important;
    padding-left: 0 !important;
    padding-top: 40px;
    color: #ff5482;
    border: none !important;
}

.consult-question-icon {
    background-color: #FF9DC1;
}

.consult-answer-icon {
    background-color: #BBB;
}

.consult-answer-icon,
.consult-question-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    top: 3px;
    left: 0;
    line-height: 16px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.consult-content {
    margin-left: 20px;
}

.consult-header .icon-custom-service {
    color: #ff5482;
}

/* 右侧内容 */
.detail-sidebar {
    width: 188px;
    border: 1px solid #eaeaea;
    background: #fff;
}

.tuan-side-recommend .price em {
    font-weight: 700;
    padding-right: 7px;
    color: #fe4a7a;
    border-right: 1px dashed #eee;
}

.tuan-side-recommend .price {
    color: #fe4a7a;
}

.tuan-side-recommend .ship {
    padding-left: 7px;
    color: #888;
}

.detail-sidebar .sidebar-inner {
    padding: 0 19px;
    padding-bottom: 20px;
    /* _width: 150px; _overflow:hidden; */
    position: relative;
}

.tuan-side-recommend a {
    display: block;
    margin-bottom: 5px;
}

.tuan-side-recommend .item {
    padding-bottom: 10px;
}

.tuan-side-recommend a {
    display: block;
    margin-bottom: 5px;
}

.detail-sidebar .sidebar-inner .item {
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;
}

.detail-sidebar .title {
    font-size: 16px;
    line-height: 23px;
    padding: 10px 20px;
    text-align: center;
    color: #999;
    border-top: #fff solid 1px;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
}

.hot-mart-side .item-info {
    position: relative;
    top: 5px;
    color: #888;
    margin-bottom: 5px;
    padding-top: 2px;
}

.item-info .item-title {
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    overflow: hidden;
}

.hot-mart-side .price em,
.hot-mart-side .price .yen {
    color: #fe4a7a;
}

.hot-mart-side .ship {
    padding-left: 7px;
    color: #888;
}

/* 侧边栏 */

.sidebar {
    position: fixed;
    right: 50px;
    bottom: 300px;
    width: 72px;
    height: 177px;
    text-align: center;
    line-height: 44px;
    height: 44px;
    z-index: 2000;
}

.sidebar ul {
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: rgba(236, 229, 229, .5);
}

.sidebar ul:hover {
    background-color: rgba(236, 229, 229, 1);
    cursor: pointer;
}

.sidebar li {
    border-bottom: 1px solid #ddd;
    position: relative;
}

.sidebar span {
    font-size: 25px;
    color: #FF647C;
}

.sidebar li:hover {
    background-color: #FF3F69;
}

.sidebar li:hover span {
    color: #fff;
}

.sidebar li>a {
    display: block;
    height: 44px;
    width: 72px;
}

.sidebar .right-div {
    top: -66px;
    right: 71px;
    display: none;
}

.sidebar-f:hover .right-div {
    display: block;
}

.sidebar i {
    color: rgba(255, 0, 0, 0.774);
    font-weight: bold;
}

.sidebar-s div {
    position: absolute;
    top: -80px;
    right: 71px;
    width: 180px;
    height: 220px;
    border: 1px solid #FF3F69;
    background-color: #fff;
    line-height: 30px;
    display: none;
}

.sidebar-s img {
    width: 150px;
    height: 150px;
}

.sidebar-s:hover div {
    display: block;
}

.sidebar-t div {
    width: 72px;
    height: 50px;
    position: absolute;
    background-color: #FF3F69;
    color: #fff;
    text-align: center;
    line-height: 48px;
    top: -1px;
    left: -1px;
    display: none;
}

.sidebar-t:hover div {
    display: block;
}

.sidebar-fo div {
    width: 72px;
    height: 50px;
    position: absolute;
    background-color: #FF3F69;
    color: #fff;
    text-align: center;
    line-height: 48px;
    top: -1px;
    left: -1px;
    display: none;
}

.sidebar-fo:hover div {
    display: block;
}

.icon-dianhuahover:before {
    color: #ff5482;
}