.tile{
    background: #fff;
    box-shadow: 5px 2px 5px #d2d2d2;
}
.tiles{
    box-shadow: 0px 0px 0px #d2d2d2;
}
.classify{
    width: 1032px;
    height: 156px;
    border:1px solid #eee;
    margin: 25px auto;
    padding: 0 24px;
    background: #fff;
}
.classify-top{
    height: 60px;
    border-bottom: 1px dashed #eee;
    line-height: 60px;
    font-size: 13px;
    color: #777;
}
.classify-top span{
    color: inherit;
    font-size: inherit;
    margin-left: 20px;
}
.classify-top b{
    color: inherit;
    font-size: inherit;
}
.brand>span{
    margin-right: 18px;
    float: left;
    line-height: 40px;
    font-size: 13px;
    color: #777;
}
.frist{
    padding-top: 20px;
    margin-bottom: 1px;
}
.frist li{
    width: 98px;
    height: 48px;
    position: relative;
    float: left;
    border: 1px solid #eee;
}
.frist img{
    width: 100%;
    height: 100%;
}
.brand-name{
    width: 97px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid red;
    display: none;
    font-size: 12px;
}
.frist li:hover .brand-name{
    display: block;
}
.more{
    font-size: 12px;
    float: left;
    width: 37px;
    padding-left: 42px;
}
.more span{
    font-size: 12px;
}
.more .moreUnfold:hover{
    color: #FF647C;
}
.more span:hover{
    color: #FF647C;
}
.hiddenPart{
    padding-top: 0;
    float: left;
    padding-left: 44px;
    display: none;
}
.beibei-top{
    height: 32px;
    line-height: 32px;
    background-color: #Fff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 50;
    box-shadow: 5px 2px 5px #d2d2d2;
}
.beibei-top>div{
    width: 960px;
    margin:auto;
    padding-left:120px;
    position: relative; 
}
.main-nav>div {
    float: left;
    margin: 0 15px;
    font-size: 13px;
    color: #999;
}
.main-nav>div>a{
    color: #999;
}
.beibei-top>div>span{
    display: block;
    width: 100px;
    height: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius:50px;
    background: #FF3F69 url(../images/图层11.png) no-repeat center center;
    background-size:50px 50px;
    position: absolute; 
    top: 0;
    left: 0;
    text-align: center;
}
.beibei-top>.main-nav>.beibei-top-r{
    float: right;
    background-color: #F7F7F7;
}
.beibei-top-r>:first-child{
    width: 97px;
    float: left;
    color: #7F4DBC;
    background: url(../images/oversea_icon_16x16.png) no-repeat 10px center;
    border-right: 1px solid #ddd;
}
.beibei-top-r>:last-child{
    width: 137px;
    float: right;
    color: #FF647C;
    background: url(../images/f45259dc52970a6ea21d62531e9a96b0.png) no-repeat 30px center;
}
.sidebar{
    position: fixed;
    right: 140px;
    bottom: 300px;
    width:72px;
    height: 177px;
    text-align: center;
    line-height: 44px;
    height: 44px;
    z-index: 2000;
}
.sidebar ul{
    border: 1px solid #ddd;
    border-bottom:none; 
    background-color: rgba(236, 229, 229,.5);
}
.sidebar ul:hover{
    background-color: rgba(236, 229, 229,1);
    cursor: pointer;
}
.sidebar li{
    border-bottom: 1px solid #ddd;
    position: relative;
}
.sidebar span{
    font-size: 25px;
    color: #FF647C;
}
.sidebar li:hover{
    background-color: #FF3F69;
}
.sidebar li:hover span{
    color: #fff;
}
.sidebar li>a{
    display: block;
    height: 44px;
    width: 72px;
}
.sidebar .right-div{
    top:-66px;
    right: 71px;
    display: none;
}
.sidebar-f:hover .right-div{
    display: block;
}
.sidebar i{
    color: rgba(255, 0, 0, 0.774);
    font-weight: bold;
}
.sidebar-s div{
    position: absolute;
    top:-80px;
    right: 71px;
    width: 180px;
    height: 220px;
    border:1px solid #FF3F69;
    background-color: #fff;
    line-height: 30px;
    display: none;
}
.sidebar-s img{
    width: 150px;
    height: 150px;
}
.sidebar-s:hover div{
    display: block;
}
.sidebar-t div{
    width: 72px;
    height: 50px;
    position: absolute;
    background-color: #FF3F69;
    color: #fff;
    text-align: center;
    line-height: 48px;
    top:-1px;
    left:-1px;
    display: none;
}
.sidebar-t:hover div{
    display:block;
}
.sidebar-fo div{
    width: 72px;
    height: 50px;
    position: absolute;
    background-color: #FF3F69;
    color: #fff;
    text-align: center;
    line-height: 48px;
    top:-1px;
    left:-1px;
    display: none;
}
.sidebar-fo:hover div{
    display:block;
}